<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tassos Express Starter App</title>

  {{!-- BOILERPLATE --}}
  {{!-- Latest compiled and minified CSS  --}}
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/custom_comment.css">
  <link rel="stylesheet" href="/table.css">
  <link rel="stylesheet" href="/styles.css">


</head>
<body>

  {{!-- Menu Bar --}}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">OmniVox</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        {{!-- <ul class="nav navbar-nav navbar-right">
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Login</a></li>

        </ul> --}}
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row transparent">
      {{{body}}}

    </div>
  </div>

  {{!-- jquery --}}
  <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  {{!-- Cookie JS for JWT --}}
  <script type="text/javascript" src="/vendor/js-cookie/src/js.cookie.js"></script>
  {{!-- Slugify for converting strings into url friendly strings --}}
  <script type="text/javascript" src="/vendor/slugify/index.js"></script>
  {{!-- Custom CSS & JS --}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <script type="text/javascript" src="/vendor/livestamp/livestamp.min.js"></script>
  {{!-- <script src="/handlebars_helpers.js"></script> --}}
  <script type="text/javascript" src="/auth.js"></script>
  <script type="text/javascript" src="/scripts.js"></script>
</body>
</html>
