<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>OmniVox.io - Quick Personal Polling</title>

  {{!-- BOILERPLATE --}}
  {{!-- Latest compiled and minified CSS  --}}
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Philosopher">
  <link rel="stylesheet" href="/custom_comment.css">
  <link rel="stylesheet" href="/table.css">
  <link rel="stylesheet" href="/styles.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  {{!-- Open Graph --}}
  <!-- OPEN GRAPH TAGS -->
  <meta property="og:title" content="OmniVox.io - Quick Personal Polling"/>
  <meta property="fb:app_id" content="1274241316004063"/>
  <meta property="og:description" content="OmniVox.io is a rapid personal polling tool to facilitate group-think and synergy. Create a poll and give your code for others to log in. Participants can add their ideas and vote on the ones they think are the best."/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://www.omnivox.io"/>
  <meta property="og:image" content="http://www.tassos.net/images/project-OmniVox.png"/>

</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center logo-text">OmniVox</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        {{!-- <li><a href="/signup">Sign Up</a></li> --}}
        {{!-- <li><a href="/login">Login</a></li> --}}
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      {{{body}}}

    </div>
  </div>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12 m9">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">I created OmniVox because I was frustrated with trying to accurately collect ideas among groups.  Try it out in a group setting!</p>
        </div>
        <div class="col l4 offset-l2 s12 m3">
          {{!-- <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul> --}}
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2017 Copyright Tassos Lambrou
        <a class="grey-text text-lighten-4 right" href="http://tassos.net">My Work</a>
      </div>
    </div>
  </footer>

  {{!-- jquery --}}
  <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/vendor/materialize/dist/js/materialize.min.js"></script>
  {{!-- Cookie JS for JWT --}}
  <script type="text/javascript" src="/vendor/js-cookie/src/js.cookie.js"></script>
  {{!-- Slugify for converting strings into url friendly strings --}}
  <script type="text/javascript" src="/vendor/slugify/slugify.js"></script>
  {{!-- Custom CSS & JS --}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <script type="text/javascript" src="/vendor/livestamp/livestamp.min.js"></script>
  {{!-- <script src="/handlebars_helpers.js"></script> --}}
  <script type="text/javascript" src="/auth.js"></script>
  <script type="text/javascript" src="/scripts.js"></script>
</body>
</html>
