<div class="col-md-12">
  <div class="tuyin first">
    <span class="title">Edit Your Poll</span>

    <form action='poll-edit' id='edit-form'>
      <fieldset>

        <!-- Text input-->
        <div class="form-group col-md-6">
          <label for="title"></label>
          <div>
            <input id="title" name="title" type="text" value="{{poll.title}}" class="form-control input-md" required>

          </div>
        </div>

        <!-- Text input-->
        <div class="form-group col-md-6">
          <label for="path"></label>
          <div>
            <input id="path" name="path" type="text" value="{{poll.path}}" class="form-control input-md">

          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group col-md-12">
          <label for="description"></label>
          <div>
            <textarea class="form-control" id="description" name="description">{{poll.description}}</textarea>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group col-md-6">
          <label for="submit"></label>
          <div>
            <button id="submit" class="btn btn-info">Save</button>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>
