body {
  background-size: cover;
  background-position: top;
  background: #EEE; /* For browsers that do not support gradients */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }

main {
  flex: 1 0 auto;
}


.form-group {
  /*position: relative;
  float: left;*/
  /*margin-left:auto;*/
  margin-right:auto;
}

.logo-text {
  font-family: 'Philosopher', sans-serif;
}

.show {
  opacity: 1;
  animation-name: show;
  animation-duration: 2s;
}

.hide {
  opacity: 0;
  animation-name: hide;
  animation-duration: 2s;
}

.box {
  height: 60px;
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hide {
    from {opacity: 1;}
    to {opacity: 0;}
}
